:root {
  --primary-header-color: #f00;
  --secondary-header-color: #ff0;
  --tertiary-header-color: #0f0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: fit-content;
  background-color: blueviolet;

  gap: 20px;
}

.sheet-grid-container {
  background-color: aqua;

  display: grid;
  grid-template-columns: 20px 20px;
  grid-auto-rows: minmax(20px, auto);
}

.table-wrapper {
  display: inline-block;
}

.table-header {
  color: black;
}

.header-elem {
  padding: 2px;
  border: 0.25px solid black;
}

$header-colors: --primary-header-color, --secondary-header-color,
  --tertiary-header-color;

@each $current-color in $header-colors {
  $idx: index($header-colors, $current-color) - 1;
  .header-row-#{$idx} {
    background-color: var($current-color);
  }
}

.content-cell {
  padding: 2px;
  border: 0.25px solid #222;
}

.content-col-0 {
  background-color: #eee;
}

.color-grid {
  --size: 20px;
  --gap: 1px;

  // display: inline-block;

  & > div {
    display: block;
    margin: var(--gap) 0;

    & > div {
      display: inline-block;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      margin: 0 var(--gap);

      border: 0.5px solid black;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
