<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json to Excel convertor</title>

    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/preview.css" />

    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static/css', filename='preview.css') }}"
    /> -->
  </head>
  <body>
    <!-- <div id="json-form">
      <textarea id="json-input"></textarea>
      <button id="prettify-button">Prettify</button>
      <button id="submit-button">Submit</button>
      <button id="preview-button">Preview</button>
    </div> -->

    <div class="container" id="preview-container"></div>

    <table class="color-grid" id="primary-color-grid"></table>
    <table class="color-grid" id="additional-color-grid"></table>
    <table class="color-grid" id="custom-color-grid"></table>

    <button class="pick-color" id="primary-header-color">Primary</button>
    <button class="pick-color" id="secondary-header-color">Secondary</button>
    <button class="pick-color" id="tertiary-header-color">Tertiary</button>

    <button class="pick-color" id="cell-color">Cell color</button>
    <button class="pick-color" id="even-row-color">Even row color</button>
    <button class="pick-color" id="odd-row-color">Odd row color</button>
    <button class="pick-color" id="even-column-color">Even column color</button>
    <button class="pick-color" id="odd-column-color">Odd column color</button>

    <!-- <script src="../static/js/index.js" type="module"></script> -->
    <script src="../static/js/preview_excel.js" type="module"></script>
    <!-- <script src="{{ url_for('static/js', filename='index.js') }}"></script>
    <script src="{{ url_for('static/js', filename='preview_excel.js') }}"></script> -->
  </body>
</html>
